<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253771587734-3243rh3qjomd8olu3f42vpg83tjtsigr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253771587734-3243rh3qjomd8olu3f42vpg83tjtsigr</string>
	<key>API_KEY</key>
	<string>AIzaSyBYkv-jaiedhJQb5-WK9Ynsj6q8ZWZWKlo</string>
	<key>GCM_SENDER_ID</key>
	<string>253771587734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crowdbotics.jolly-darkness-28149-7132235b</string>
	<key>PROJECT_ID</key>
	<string>gulp-c3407</string>
	<key>STORAGE_BUCKET</key>
	<string>gulp-c3407.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253771587734:ios:d62d778687b6e78e5da2b7</string>
</dict>
</plist>